@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Karla:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@700&family=Open+Sans:wght@300&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Limelight', sans-serif;
  margin: 0;
}

.header {
    padding: 20px;
    max-width: 100%;
    text-align: center;
    margin:0 0 50px auto ;
    height: 190px;

}


.form {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    text-align: left;
}

.search {
  background-color: transparent;
  text-align: center;
  width: 100%;
  max-width: 70%;
  border: 2px solid #593196;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}



.search::placeholder {
  color: #7378c5;
}




.search:focus {
  outline: none;
  background-color: var(--primary-color);
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 290px;
  margin: 1rem;
  background-color: #593196;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 100px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info h3 {
  margin-top: 0;
  margin: 5px;
}

.movie-info span {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 60%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.fav-btn {
  border: none;
  padding: 10px;
  margin-left: 126px;
  background-color: transparent;
  color:  rgb(230, 230, 230);
  cursor: pointer;
  font-size: 1.1rem;
}

.fav-btn.active {
  color: rgb(153, 173, 104);
}

.fav-btn:hover {
  color: #b190e4;
}
